<h1>Books</h1>
<!--プロフィール-->
<%= render "users/profile", user: @user %>

<!--新規投稿-->
<%= render "books/new", book: @book %>


if flash[:notice] %>
  <p><%= flash[:notice]  %></p>
<% end %>

<!--ここからUser一人Books一覧-->
<table>
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
    </tr>
  </thead>
  <tbody>
  <% @books.each do |book| %>
    <tr>
      <td><%= attachment_image_tag  @user, :profile_image, size: "60x60", fallback: "no_image.jpg" %></td>
      <td>
        <%= link_to book_path(book) do %>
          <%= book.title %>
        <% end %>
      </td>
      <td><%= book.body %></td>
    </tr>
  <% end %>
  </body>
</table>

